@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Bold.woff2") format("woff2"), url("../fonts/Inter-Bold");
	font-weight: 700;
	font-style: normal;
	}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Medium.woff2") format("woff2"), url("../fonts/Inter-Medium");
	font-weight: 500;
	font-style: normal;
	}
@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-Regular.woff2") format("woff2"), url("../fonts/Inter-Regular");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: mvboli;
	font-display: swap;
	src: url("../fonts/mvboli.woff2") format("woff2"), url("../fonts/mvboli");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular");
	font-weight: 400;
	font-style: normal;
	}
@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium");
	font-weight: 500;
	font-style: normal;
	}
@font-face {
	font-family: Ubuntu;
	font-display: swap;
	src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold");
	font-weight: 700;
	font-style: normal;
	}
